node_modules
.next
.out
dist
# Environment configuration files
.env*
.env.local
# Legacy files
museum-buddy-app/
main.js
data/
style.css
musea.json
z_parked/
netlify.toml
components/Button.js
components/Header.js
components/MuseumCard.jsx
components/MuseumCard.styles.js
lib/museums.js
out/
